.form-control {
    color: #212121;
}

.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}

    .btn-custom:hover,
    .btn-custom:focus {
        color: #fff;
    }

.btn-del-filter {
    cursor: pointer;
}

#home-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5px;
}

    #home-container::after {
        clear: both;
    }

#map {
    width: 50%;
    float: left;
}

#form-filters-container {
    width: 20%;
    float: left;
}

#form-filters {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#display-filters-container {
    width: 30%;
    float: left;
}

#filter-table {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    #filter-table thead tr {
        height: 40px;
    }

    #filter-table th {
        text-align: center;
        width: 40%;
    }

    #filter-table td {
        width: 40%;
    }
