<table id="filter-table" class="table-striped table-bordered">
    <thead>
        <tr>
            <th>Obiekt</th>
            <th>Odległość max</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="filter-table-body"></tbody>
</table>

