@model OsmAreaFinder.Models.Filter

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    
    <div class="form-group">
        @Html.LabelFor(m => m.ObjectType)
        @Html.DropDownListFor(m => m.ObjectType, new SelectList(OsmAreaFinder.Models.PoiList.Poi), new { @class = "form-control", @id = "in-objtype" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Distance)
        @Html.TextBoxFor(m => m.Distance, new { @class = "form-control", @id = "in-distance" })
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-custom btn-lg btn-block" id="btn-add-filter" onclick="addFilter()">Dodaj</button>
    </div>
}


